<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RoadDogg.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>525CA2CB1F9D40A90037855E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525CA2E21F9D40A90037855E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>525CA2ED1F9D40A90037855E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
